# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Testing
coverage
coverage-node
*.test.ts
*.test.tsx
**/*.test.ts
**/*.test.tsx
vitest.config.ts

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# Misc
*.md
LICENSE
.env*.local
.eslintcache
